head{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    background: white;
    color: black;
}
header{
    background: black;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}
nav a:hover{
    color: orange;
}
.hero{
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url('https://images.unsplash.com/photo-1503376780353-7e6692767b70');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 120px 40px;
    text-align: center;
}
.hero h1{
    font-size: 45px;
}
.hero p{
    margin: 15px 0;
    font-size: 18px;
}
.hero button{
    background: orange;
    border: none;
    padding: 14px 35px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}
.section{
    padding: 60px 40px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 25px;
}
.box{
    background: red;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
}
.box h3{
    margin-bottom: 10px;
}
footer{
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}